 <div class="container-fluid">
    <div class="card-header">
        <h5 class="card-title">Add New Department</h5>
    </div>
     <div class="row">
         <div class="col-md-12">
             <label class="form-label">Name</label>
            <input type="text"  class="form-control" id="txtName" >
            <span class="float-right text-sm text-danger" id="spErrName"></span>
         </div>
        <div class="col-md-12">
            <label class="form-label">Description</label>
            <textarea class="form-control" id="txtDescription"></textarea>
        </div>
        <div class="col-md-12 pt-3">
            <button type="button"  id="btnSubmit" class="btn-primary"> Submit</button>
    </div>
 </div>
 </div>

 
